<div class="login-page">
  <div class="login-box">
    <div class="login-logo">
      <a [routerLink]="['/']"><b>Sade</b>Infra</a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">Bienvenidos</p>
  
        <form (submit)="login()"
              autocomplete="off"
              [formGroup]="loginForm">
          <div class="input-group mb-3">
            <input  type="email" 
                    class="form-control" 
                    placeholder="Email"
                    formControlName="email">

            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input  type="password"
                    class="form-control" 
                    placeholder="Contraseña"
                    formControlName="password">

            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              <div class="icheck-primary">
                <input  type="checkbox" 
                        id="remember"
                        formControlName="recordar">
                <label for="remember">
                  recordar sesión
                </label>
              </div>
            </div>
            <!-- /.col -->
            <div class="col-4">
              <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
            </div>
            <!-- /.col -->
          </div>
        </form>
        <p class="mt-3 mb-1">
          <a [routerLink]="['/restorepassword']" >Recuperar contraseña</a>
        </p>
      </div>
      <!-- /.login-card-body -->
    </div>
  </div>
  <!-- /.login-box -->
</div>
