<div *ngIf="detalleBBDD" class="card animate__animated animate__fadeIn">
  <div class="card-header">
    <h3 class="card-title">{{ detalleBBDD.ambiente }} {{ detalleBBDD.entorno }}</h3>


  </div>
  <div class="card-body" style="display: block;">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
        <div class="row">
          <div class="col-12 col-sm-5">
            <div class="info-box bg-light">
              <div class="info-box-content">
                <span class="info-box-number text-center text-muted">Host</span>
                <span class="info-box-text text-center text-muted mb-0">{{ detalleBBDD.host }}</span>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-2">
            <div class="info-box bg-light">
              <div class="info-box-content">
                <span class="info-box-number text-center text-muted">Puerto</span>
                <span class="info-box-text text-center text-muted mb-0">{{ detalleBBDD.puerto }}</span>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-5">
            <div class="info-box bg-light">
              <div class="info-box-content">
                <span class="info-box-number text-center text-muted">Servicio</span>
                <span class="info-box-text text-center text-muted mb-0">{{ detalleBBDD.servicio }}</span>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div  class="col-12 col-md-6"
                >
            <h4 class="text-success">Usuarios Nominales</h4>
            <div class="row">
              <div class="col-12">
                
                <div class="card card-outline card-success" *ngFor="let user of userNominales">
                <div class="card-header" *ngIf="esInfra">  
                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" (click)="eliminarUsuario( user.id )"><i class="fas fa-times"></i>
                    </button>
                  </div>
                  <!-- /.card-tools -->
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <p><b>Usuario:</b> {{ user.usuario }}</p>
                  <p><b>Contraseña:</b> {{ user.password }}</p>
                </div>
                <!-- /.card-body -->
              </div>
            </div>

            </div>
          </div>

          <div  class="col-12 col-md-6"
                >
            <h4 class="text-success">Usuarios Esquemas</h4>
            <div class="row">
              <div class="col-12">
                
                <div class="card card-outline card-success" *ngFor="let user of userEspemas">
                <div class="card-header" *ngIf="esInfra">  
                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" (click)="eliminarUsuario( user.id )"><i class="fas fa-times"></i>
                    </button>
                  </div>
                  <!-- /.card-tools -->
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <p><b>Usuario:</b> {{ user.usuario }}</p>
                  <p><b>Contraseña:</b> {{ user.password }}</p>
                </div>
                <!-- /.card-body -->
              </div>
            </div>

            </div>
          </div>
        </div>
      </div>


      <div  *ngIf="esInfra"
            class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
        <h3 class="text-primary">Nuevo usuario</h3>
        <div class="row">
          <div class="col-12">
            
            <form (submit)="guardarPassword()"
                  autocomplete="off"
                  [formGroup]="passwordForm">

              <div class="card-body">
              
                <div class="form-group">
                  <label>Tipo</label>
                  <select 
                    class="form-control"
                          formControlName="tipo">
                    <option value="NOMINAL">NOMINAL</option>
                    <option value="ESQUEMA">ESQUEMA</option>
                  </select>
                </div>

                <div class="form-group">
                  <label for="exampleInputUsuario">Usuario</label>
                  <input  formControlName="usuario"
                          type="text" class="form-control" id="exampleInputUsuario">
                </div>

                <div class="form-group">
                  <label for="exampleInputPassword">Contraseña</label>
                  <input  formControlName="password"
                          type="text" class="form-control" id="exampleInputPassword">
                </div>
                
              </div>
              <!-- /.card-body -->
          

                <button type="submit" class="btn btn-primary btn-block">Guardar servidor</button>

            </form>
          </div>
        </div>

        <hr class="my-4">

        <div class="row mb-4">
          <div class="col-12">

            <div class="card card-danger collapsed-card">
              <div class="card-header">

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i>
                  </button>
                </div>
                <!-- /.card-tools -->
              </div>
              <!-- /.card-header -->
              <div class="card-body" style="display: none;">
                <button (click)="eliminar( detalleBBDD.id )" class="btn btn-danger btn-block"> Eliminar BBDD</button>
              </div>
              <!-- /.card-body -->
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.card-body -->
</div>