<div class="row">

  <div class="col-12 col-md-3">

    <div class="row">
      <!-- Datos del usuario -->
      <div class="col-6 col-md-12">
        <div class="card card-outline card-primary">
          <div class="card-header">
            <h3 class="card-title">Datos del perfil</h3>
      
            <!-- /.card-tools -->
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            
      
          </div>
          <!-- /.card-body -->
        </div>
      </div>

      <!-- Imagen de perfil -->
      <div class="col-6 col-md-12">
        <div class="card card-outline card-primary">
          <div class="card-header">
            <h3 class="card-title">Actualizar Foto de perfil</h3>
      
            <!-- /.card-tools -->
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="text-center mt-3">
              <img *ngIf="!imgTemp" [src]="usuario.verFotoPerfil" class="rounded img-thumbnail" style="width: 80%;" alt="">
              <img *ngIf="imgTemp"  [src]="imgTemp" class="rounded img-thumbnail" style="width: 80%;" alt="">
            </div>
        
        
                <div class="form-group">
                  <label for="exampleInputFile">Buscar foto</label>
                  <div class="input-group">
                    <input type="file" 
                            (change)="cambiarImagen( $event.target.files[0] )">
                  </div>
                </div>
      
              <!-- /.card-body -->
        
      
                <button type="submit" class="btn btn-primary btn-block"
                        [disabled]="!imagenSubir"
                        (click)="subirImagen()">Actualizar imagen</button>
      
          </div>
          <!-- /.card-body -->
        </div>
      </div>
    </div>

    <!-- Datos del usuario -->
    <div class="col-6 col-md-12">
      <div class="card card-outline card-primary">
        <div class="card-header">
          <h3 class="card-title">Actulizar contraseña</h3>
    
          <!-- /.card-tools -->
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <form>
             
              <div class="form-group">
                <label for="exampleInputPassword1">Contraseña</label>
                <input type="password" class="form-control" id="exampleInputPassword1" >
              </div>
              
              <div class="form-group">
                <label for="exampleInputPassword2">Confirmar contraseña</label>
                <input type="password" class="form-control" id="exampleInputPassword2" >
              </div>

              <button type="submit" class="btn btn-primary btn-block">Actualizar</button>
          </form>
    
        </div>
        <!-- /.card-body -->
      </div>
    </div>
  </div>

  <div class="col-12 col-md-9">
    <div class="col-12">
      <div class="card card-outline card-primary">
        <div class="card-header">
          <h3 class="card-title">Historial</h3>
    
          <!-- /.card-tools -->
        </div>
        <!-- /.card-header -->
        <div class="card-body">

    
        </div>
        <!-- /.card-body -->
      </div>
    </div>
  </div>

</div>