  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a [routerLink]="['/']" class="nav-link">Inicio</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link">Contactos</a>
      </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <!-- Navbar Search -->
      <li class="nav-item">
        <a class="nav-link" data-widget="navbar-search" href="#" role="button">
          <i class="fas fa-search"></i>
        </a>
        <div class="navbar-search-block">
          <form class="form-inline">
            <div class="input-group input-group-sm">
              <input class="form-control form-control-navbar" type="search" placeholder="Buscar" aria-label="Search">
              <div class="input-group-append">
                <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </li>



      <li class="nav-item dropdown user-menu">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
          <img [src]="usuario.verFotoPerfil" class="user-image img-circle elevation-2" alt="User Image">
          <span class="d-none d-md-inline">{{ usuario.nombre }}</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <!-- User image -->
          <li class="user-header bg-primary">
            <img [src]="usuario.verFotoPerfil" class="img-circle elevation-2" alt="User Image">

            <p>
              {{ usuario.nombre }}
              <small>{{ usuario.role }}</small>
            </p>
          </li>
          <!-- Menu Footer-->
          <li class="user-footer">
            <a [routerLink]="['perfil']" class="btn btn-default btn-flat">Perfil</a>
            <a (click)="salir()" class="btn btn-default btn-flat float-right">Salir</a>
          </li>
        </ul>
      </li>

    </ul>
  </nav>
  <!-- /.navbar -->