<div class="row">
  <div class="col-12 col-md-6">
    <div class="card card-primary">
      <!-- form start -->
      <form (submit)="guardarUsuario()"
            autocomplete="off"
            [formGroup]="usuariosForm">

        <div class="card-body">


          <div>
            <div class="form-group">
              <label for="exampleInputNombre">Nombre</label>
              <input  formControlName="nombre" 
                      type="text" class="form-control" id="exampleInputNombre">
            </div>
          </div>

          <div>
            <div class="form-group">
              <label for="exampleInputEmail">Email</label>
              <input  formControlName="email" 
                      type="email" class="form-control" id="exampleInputEmail">
            </div>
          </div>

          <div>
            <div class="form-group">
              <label for="exampleInputPassword">Contaseña</label>
              <input  formControlName="password" 
                      type="text" class="form-control" id="exampleInputPassword">
            </div>
          </div>
        
          <div class="form-group">
            <label>Rol</label>
            <select 
              class="form-control"
                    formControlName="role">
              <option value="DESA">DESA</option>
              <option value="INFRA">INFRA</option>
              <option value="ADMIN">ADMIN</option>
            </select>
          </div>

          
        </div>
        <!-- /.card-body -->
    
        <div class="card-footer">
          <button type="submit" class="btn btn-primary">Crear Usuarios</button>
        </div>
      </form>
    </div>
  </div>
</div>