  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a [routerLink]="['/']" class="brand-link">
      <img src="assets/imgs/everis.png" alt="Everis Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">SadeInfra</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">

      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <!-- <li class="nav-item menu-open">
            <a href="#" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Starter Pages
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Base de Datos</p>
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/dashboard/clientes/servidores']" routerLinkActive="router-link-active"  class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Servidores</p>
                </a>
              </li>
            </ul>
          </li> -->

          <li class="nav-item">
            <a [routerLink]="['/dashboard/databases']" routerLinkActive="active" class="nav-link">
              <i class="nav-icon fas fa-database"></i>
              <p>
                Base de Datos
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a [routerLink]="['/dashboard/clientes/servidores']" routerLinkActive="active" class="nav-link">
              <i class="nav-icon fas fa-server"></i>
              <p>
                Servidores Clientes
              </p>
            </a>
          </li>

          <!-- <li class="nav-item">
            <a [routerLink]="['/dashboard/everis/servidores']" routerLinkActive="active" class="nav-link">
              <i class="nav-icon fas fa-server"></i>
              <p>
                Servidores Everis
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a [routerLink]="['/dashboard/everis/modulos']" routerLinkActive="active" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Modulos
              </p>
            </a>
          </li> -->
          
          <li *ngIf="verInfra" class="nav-item">
            <a [routerLink]="['/dashboard/accesos']" routerLinkActive="active" class="nav-link">
              <i class="nav-icon fas fa-desktop"></i>
              <p>
                Accesos rapidos
              </p>
            </a>
          </li>

          <li *ngIf="verAdmin" class="nav-item">
            <a [routerLink]="['/dashboard/admin']" routerLinkActive="active" class="nav-link">
              <i class="nav-icon fas fa-tools"></i>
              <p>
                Administración
              </p>
            </a>
          </li>





        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>