<div class="wrapper">

  <app-header></app-header>

  <app-sidebar></app-sidebar>

  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">

        <app-breadcrumbs></app-breadcrumbs>

        <router-outlet></router-outlet>

      </div>
    </div>
  </div>

  <app-footer></app-footer>

</div>