<h3>GDE Adaptado</h3>

<div class="row">

  <div class="col-xxl-2 col-lg-3 col-md-3 col-sm-6 col-12">
    <div class="info-box bg-gradient-success">
      <span class="info-box-icon"><i class="far fa-thumbs-up"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">GEDO REST</span>
        <span class="info-box-number">Ok</span>

        <span class="progress-description">
          70% Increase in 30 Days
        </span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->

  <div class="col-xxl-2 col-lg-3 col-md-3 col-sm-6 col-12">
    <div class="info-box bg-gradient-danger">
      <span class="info-box-icon"><i class="fas fa-comments"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">GEGO</span>
        <span class="info-box-number">Error</span>

        <span class="progress-description">
          70% Increase in 30 Days
        </span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->

  <div class="col-xxl-2 col-lg-3 col-md-3 col-sm-6 col-12">
    <div class="info-box bg-gradient-success">
      <span class="info-box-icon"><i class="far fa-thumbs-up"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">GEDO REST</span>
        <span class="info-box-number">Ok</span>

        <span class="progress-description">
          70% Increase in 30 Days
        </span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->

  <div class="col-xxl-2 col-lg-3 col-md-3 col-sm-6 col-12">
    <div class="info-box bg-gradient-danger">
      <span class="info-box-icon"><i class="fas fa-comments"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">GEGO</span>
        <span class="info-box-number">Error</span>

        <span class="progress-description">
          70% Increase in 30 Days
        </span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->

  <div class="col-xxl-2 col-lg-3 col-md-3 col-sm-6 col-12">
    <div class="info-box bg-gradient-success">
      <span class="info-box-icon"><i class="far fa-thumbs-up"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">GEDO REST</span>
        <span class="info-box-number">Ok</span>

        <span class="progress-description">
          70% Increase in 30 Days
        </span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->

  <div class="col-xxl-2 col-lg-3 col-md-3 col-sm-6 col-12">
    <div class="info-box bg-gradient-danger">
      <span class="info-box-icon"><i class="fas fa-comments"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">GEGO</span>
        <span class="info-box-number">Error</span>

        <span class="progress-description">
          70% Increase in 30 Days
        </span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->


</div>

<h3>SADE</h3>

<div class="row">

  <div class="col-xxl-2 col-lg-3 col-md-3 col-sm-6 col-12">
    <div class="info-box bg-gradient-success">
      <span class="info-box-icon"><i class="far fa-thumbs-up"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">GEDO REST</span>
        <span class="info-box-number">Ok</span>

        <span class="progress-description">
          70% Increase in 30 Days
        </span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->

  <div class="col-xxl-2 col-lg-3 col-md-3 col-sm-6 col-12">
    <div class="info-box bg-gradient-danger">
      <span class="info-box-icon"><i class="fas fa-comments"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">GEGO</span>
        <span class="info-box-number">Error</span>

        <span class="progress-description">
          70% Increase in 30 Days
        </span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->

  <div class="col-xxl-2 col-lg-3 col-md-3 col-sm-6 col-12">
    <div class="info-box bg-gradient-success">
      <span class="info-box-icon"><i class="far fa-thumbs-up"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">GEDO REST</span>
        <span class="info-box-number">Ok</span>

        <span class="progress-description">
          70% Increase in 30 Days
        </span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->

  <div class="col-xxl-2 col-lg-3 col-md-3 col-sm-6 col-12">
    <div class="info-box bg-gradient-danger">
      <span class="info-box-icon"><i class="fas fa-comments"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">GEGO</span>
        <span class="info-box-number">Error</span>

        <span class="progress-description">
          70% Increase in 30 Days
        </span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->

  <div class="col-xxl-2 col-lg-3 col-md-3 col-sm-6 col-12">
    <div class="info-box bg-gradient-success">
      <span class="info-box-icon"><i class="far fa-thumbs-up"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">GEDO REST</span>
        <span class="info-box-number">Ok</span>

        <span class="progress-description">
          70% Increase in 30 Days
        </span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->

  <div class="col-xxl-2 col-lg-3 col-md-3 col-sm-6 col-12">
    <div class="info-box bg-gradient-danger">
      <span class="info-box-icon"><i class="fas fa-comments"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">GEGO</span>
        <span class="info-box-number">Error</span>

        <span class="progress-description">
          70% Increase in 30 Days
        </span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->


</div>

<h3>Backend</h3>

<div class="row">

  <div class="col-xxl-2 col-lg-3 col-md-3 col-sm-6 col-12">
    <div class="info-box bg-gradient-success">
      <span class="info-box-icon"><i class="far fa-thumbs-up"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">GEDO REST</span>
        <span class="info-box-number">Ok</span>

        <span class="progress-description">
          70% Increase in 30 Days
        </span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->

  <div class="col-xxl-2 col-lg-3 col-md-3 col-sm-6 col-12">
    <div class="info-box bg-gradient-danger">
      <span class="info-box-icon"><i class="fas fa-comments"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">GEGO</span>
        <span class="info-box-number">Error</span>

        <span class="progress-description">
          70% Increase in 30 Days
        </span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->

  <div class="col-xxl-2 col-lg-3 col-md-3 col-sm-6 col-12">
    <div class="info-box bg-gradient-success">
      <span class="info-box-icon"><i class="far fa-thumbs-up"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">GEDO REST</span>
        <span class="info-box-number">Ok</span>

        <span class="progress-description">
          70% Increase in 30 Days
        </span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->

  <div class="col-xxl-2 col-lg-3 col-md-3 col-sm-6 col-12">
    <div class="info-box bg-gradient-danger">
      <span class="info-box-icon"><i class="fas fa-comments"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">GEGO</span>
        <span class="info-box-number">Error</span>

        <span class="progress-description">
          70% Increase in 30 Days
        </span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->

  <div class="col-xxl-2 col-lg-3 col-md-3 col-sm-6 col-12">
    <div class="info-box bg-gradient-success">
      <span class="info-box-icon"><i class="far fa-thumbs-up"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">GEDO REST</span>
        <span class="info-box-number">Ok</span>

        <span class="progress-description">
          70% Increase in 30 Days
        </span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->

  <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
    <div class="info-box bg-gradient-danger">
      <span class="info-box-icon"><i class="fas fa-comments"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">GEGO</span>
        <span class="info-box-number">Error</span>

        <span class="progress-description">
          70% Increase in 30 Days
        </span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->


</div>