<div class="row">
  <div class="col-12 col-md-6">
    <div class="card card-primary">
      <!-- form start -->
      <form (submit)="guardarServidor()"
            autocomplete="off"
            [formGroup]="servidorForm">

        <div class="card-body">
        
          <div class="form-group">
            <label>Ambiente</label>
            <select 
              class="form-control"
                    formControlName="ambiente">
              <option value="CIUDAD">CIUDAD</option>
              <option value="TSJ">TSJ</option>
              <option value="LEGISLATURA">LEGISLATURA</option>
            </select>
          </div>

          <div class="row">

            <div class="col-sm-6">   
              <div  class="form-group">
                <label>Entorno</label>
                <select class="form-control"
                        formControlName="entorno">
                  <option value="PROD">PROD</option>
                  <option value="HML">HML</option>
                  <option value="QA">QA</option>
                  <option value="CAPA">CAPA</option>
                </select>
              </div>         
            </div>
            
            <div class="col-sm-6">
              <div class="form-group">
                <label>Desarrollo</label>
                <select class="form-control"
                        formControlName="desarrollo">
                  <option value="GDE">GDE</option>
                  <option value="SADE">SADE</option>
                </select>
              </div>
            </div>
          
          </div>

          <div class="row">

            <div class="col-sm-4">
              <div class="form-group">
                <label for="exampleInputModulo">Módulo</label>
                <input  formControlName="modulo"
                        type="text" class="form-control" id="exampleInputModulo" placeholder="GEDO">
              </div>
            </div>
            
            <div class="col-sm-4">
              <div class="form-group">
                <label>Tipo</label>
                <select class="form-control"
                        formControlName="tipo">
                  <option></option>
                  <option value="WEB">WEB</option>
                  <option value="REST">REST</option>
                  <option value="BACK-END">BACK-END</option>
                </select>
              </div>
            </div>
            
            <div class="col-sm-4">
              <div class="form-group">
                <label for="exampleInputNodo">Nodo</label>
                <input  formControlName="nodo" 
                        type="text" class="form-control" id="exampleInputNodo" placeholder="N1">
              </div>
            </div>
          
          </div>

          <div class="form-group">
            <label for="exampleInputIP">IP</label>
            <input  formControlName="ip" 
                    type="text" class="form-control" data-inputmask="'alias': 'ip'" data-mask="" inputmode="numeric">
          </div>
          
        </div>
        <!-- /.card-body -->
    
        <div class="card-footer">
          <button type="submit" class="btn btn-primary">Guardar servidor</button>
        </div>
      </form>
    </div>
  </div>
</div>