<div class="row">

  <div class="col-lg-3 col-md-4 col-sm-6 col-12 puntero" (click)="crearUsuarios()">
    <div class="info-box shadow">
      <span class="info-box-icon bg-success"><i class="fas fa-user-plus"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">Crear usuarios</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->

  <div class="col-lg-3 col-md-4 col-sm-6 col-12 puntero" (click)="listarUsuarios()">
    <div class="info-box shadow">
      <span class="info-box-icon bg-warning"><i class="fas fa-users"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">Listar Uusarios</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->



  <div class="col-lg-3 col-md-4 col-sm-6 col-12 puntero">
    <div class="info-box shadow">
      <span class="info-box-icon bg-danger"><i class="fas fa-user-slash"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">Usuarios bloqueados</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->

</div>
