<div class="login-page">
  <div class="login-box">
    <div class="login-logo">
      <a [routerLink]="['/']"><b>Sade</b>Infra</a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">Ingresando tu mail te llegara un correo con tu nueva contraseña</p>
  
        <form (submit)="recuperarPassword()"
              autocomplete="off"
              [formGroup]="restoreForm">
          <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Email" formControlName="email">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <button type="submit" class="btn btn-primary btn-block">Enviar nueva contraseña</button>
            </div>
            <!-- /.col -->
          </div>
        </form>
  
      </div>
      <!-- /.login-card-body -->
    </div>
  </div>
</div>
