<div class="row">
  <div class="col-12">
    <div class="card">
      <div *ngIf="esInfra" class="card-header text-right">
        <a  [routerLink]="['/dashboard/clientes/servidores/crear']" class="btn btn-secondary">Crear servidor</a>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
          <thead>
          <tr>
            <th *ngFor="let titulo of titulos">{{ titulo }}</th>            
          </tr>
          </thead>
          <tbody>

            <tr *ngFor="let valor of campos ">
              <td>{{ valor.ambiente }}</td>
              <td>{{ valor.entorno }}</td>
              <td>{{ valor.desarrollo }}</td>
              <td>{{ valor.modulo }} {{ valor.tipo }} {{ valor.nodo }}</td>
              <td>{{ valor.ip }}</td>
            </tr>

          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
  </div>
</div>