<div class="row ">
  <div class="col-12 col-md-6">
    <div class="card card-primary">
      <!-- form start -->
      <form (submit)="guardarBBDD()"
            autocomplete="off"
            [formGroup]="bbddForm">

        <div class="card-body">
        
          

          <div class="row">

            <div class="col-sm-6">
              <div class="form-group">
                <label>Ambiente</label>
                <select 
                  class="form-control"
                        formControlName="ambiente">
                  <option value="CIUDAD">CIUDAD</option>
                  <option value="TSJ">TSJ</option>
                  <option value="LEGISLATURA">LEGISLATURA</option>
                </select>
              </div>
            </div>

            <div class="col-sm-6">   
              <div  class="form-group">
                <label>Entorno</label>
                <select class="form-control"
                        formControlName="entorno">
                  <option value="PROD">PROD</option>
                  <option value="HML">HML</option>
                  <option value="QA">QA</option>
                  <option value="CAPA">CAPA</option>
                  <option value="DEV">DEV</option>
                  <option value="StandBy">StandBy</option>
                </select>
              </div>         
            </div>
            
            
          
          </div>

          <div class="row">

            <div class="col-sm-9">
              <div class="form-group">
                <label for="exampleInputModulo">Host</label>
                <input  formControlName="host"
                        type="text" class="form-control" id="exampleInputModulo" placeholder="">
              </div>
            </div>
            
            <div class="col-sm-3">
              <div class="form-group">
                <label for="exampleInputNodo">Puerto</label>
                <input  formControlName="puerto" 
                        type="text" class="form-control" id="exampleInputNodo" placeholder="1521">
              </div>
            </div>
          
          </div>

          <div class="form-group">
            <label for="exampleInputNodo">Servicio</label>
            <input  formControlName="servicio" 
                    type="text" class="form-control" id="exampleInputNodo" placeholder="">
          </div>
          
        </div>
        <!-- /.card-body -->
    
        <div class="card-footer">
          <button type="submit" class="btn btn-primary">Guardar BBDD</button>
          <a [routerLink]="['/dashboard/databases']" class="btn btn-danger float-right">Cancelar</a>
        </div>
      </form>
    </div>
  </div>
</div>