<div class="row">
  <div class="col-12 col-md-6">
    <div class="card card-primary">
      <!-- form start -->
      <form (submit)="guardarAcceso()"
            autocomplete="off"
            [formGroup]="accesoForm">

        <div class="card-body">
        
          <div class="form-group">
            <label for="exampleInputNombre">Nombre</label>
            <input  formControlName="nombre"
                    type="text" class="form-control" id="exampleInputNombre">
          </div>

          <div class="row">

            <div class="col-sm-6">   
              <div class="form-group">
                <label for="exampleInputUser">Usuarios</label>
                <input  formControlName="usuario"
                        type="text" class="form-control" id="exampleInputUser">
              </div>       
            </div>
            
            <div class="col-sm-6">
              <div class="form-group">
                <label for="exampleInputPassword">Contraseña</label>
                <input  formControlName="password"
                        type="text" class="form-control" id="exampleInputPassword">
              </div>
            </div>
          
          </div>

          <div class="form-group">
            <label for="exampleInputUrl">URL</label>
            <input  formControlName="url"
                    type="text" class="form-control" id="exampleInputUrl">
          </div>
          
        </div>
        <!-- /.card-body -->
    
        <div class="card-footer">
          <button type="submit" class="btn btn-primary">Guardar acceso</button>
        </div>
      </form>
    </div>
  </div>
</div>