<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Conexiones a Base de Datos</h3>
        <span *ngIf="esInfra" class="float-right"> 
          <a [routerLink]="['/dashboard/databases/crear']" class="btn btn-success"> Crerar BBDD </a>
        </span>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
          <thead>
          <tr>
            <th *ngFor="let titulo of titulos">{{ titulo }}</th>            
          </tr>
          </thead>
          <tbody>
            

            <tr *ngFor="let valor of campos ">
              <td><a [routerLink]="['/dashboard/databases/detalle', valor.id]" > {{ valor.ambiente }} </a></td>
              <td>{{ valor.entorno }}</td>
              <td>{{ valor.host }}</td>
              <td>{{ valor.puerto }}</td>
              <td>{{ valor.servicio }}</td>
            </tr>

          </tbody>
        </table>

      </div>
      <!-- /.card-body -->
    </div>
  </div>
</div>