<div class="row">
  <div class="col-12">
    
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Usuarios registrados {{ total }}</h3>

          <div class="card-tools">
            <form >
              <div class="input-group input-group-sm" style="width: 250px;">
                <input  type="text" 
                        name="table_search" 
                        class="form-control float-right" 
                        placeholder="Buscar"
                        (keyup)="buscar( textoBuscar.value )"
                        #textoBuscar>

                <div class="input-group-append">
                  <button type="submit" class="btn btn-default">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="card-body p-0">
          <table class="table table-striped projects">
              <thead>
                  <tr>
                      <th style="width: 100px">
                          Avatar
                      </th>
                      <th >
                          Nombre y email
                      </th>
                      <th style="width: 200px">
                          Role
                      </th>
                      <th style="width: 100px">
                          Acciones
                      </th>
                  </tr>
              </thead>
              <tbody>
                
                <tr *ngFor="let detalle of listaUsuarios">
                    <td><img alt="Avatar" class="table-avatar user-imgage img-circle cursor" [src]="fotoPerfil(detalle.img)"></td>
                    <td>
                        <a>{{ detalle.nombre }}</a>
                        <br>
                        <small>{{ detalle.email }}</small>
                    </td>
                    <td>

                      <select class="form-control"
                              [(ngModel)]="detalle.role"
                              (change)="cambiarRole( detalle )">
                        <option value="DESA">DESA</option>
                        <option value="INFRA">INFRA</option>
                        <option value="ADMIN">ADMIN</option>
                      </select>

                    </td>
                    <td class="d-flex justify-content-around">
                        <a class="btn btn-danger btn-sm" (click)="eliminar( detalle.uid )">
                          <i class="fas fa-eraser"></i>
                        </a>
                    </td>
                </tr>

              </tbody>
          </table>
        </div>
        <!-- /.card-body -->
        <div class="card-footer clearfix" *ngIf="textoBuscar.value.length === 0">
          <div class="row">
            <div class="col-6">
              <p> Mostrando registros del {{ desde }} al {{ desde + 5 < total ? desde + 5 : total }} de {{ total }} </p>
            </div>
            <div class="col-6 text-right">

              <button type="button" class="btn btn-primary ml-4" (click)="navegarRegistros( -5 )" ><i class="fas fa-arrow-circle-left"></i> anterio </button>
              <button type="button" class="btn btn-primary ml-4" (click)="navegarRegistros( 5 )" > siguiente <i class="fas fa-arrow-circle-right"></i></button>

            </div>
          </div>
        </div>
      </div>
      <!-- /.card -->

    </section>

  </div>
</div>