<div *ngIf="!mostrarDetalle" class="row animate__animated animate__fadeIn" >
  <div class="col-12">
    <div class="card card-outline card-primary">
      <div class="card-header">
        <h3 class="card-title">Accesos rapidos</h3>
  
        <div class="card-tools">
          <a [routerLink]="['//dashboard/accesos/crear']" class="btn btn-secondary" data-card-widget="collapse">
            Crear acceso
          </a>
        </div>
        <!-- /.card-tools -->
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <div class="row">
          
       
          <div *ngFor="let acceso of accesos" class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-info">
              <div class="inner">
                <h4 class="puntero" (click)="detalleAcceso( acceso.id  )">{{ acceso.nombre }}</h4>
        
                <p class="m-0"> <b>Usuarios:</b> {{ acceso.usuario }}</p>
                <p class="m-0"> <b>Contraseña:</b> {{ acceso.password }}</p>
              </div>
              <div class="icon">
                <i class="fas fa-sitemap"></i>
              </div>
              <a [href]="acceso.url" target="_blank"  class="small-box-footer">
                Acceder <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
        
        </div>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div>

<div  *ngIf="mostrarDetalle" class="row animate__animated animate__fadeIn">
  <div class="col-12">
    <div class="card card-outline card-primary">
      <div class="card-header">
        <h3 class="card-title">Detalles acceso {{ detalle.nombre }}</h3>
  
        <div class="card-tools">
          <button type="button" class="btn btn-tool" (click)="mostrarDetalle = !mostrarDetalle">
            <i class="far fa-times-circle"></i>
          </button>
        </div>
        <!-- /.card-tools -->
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-md-5">
            <p><b>URL:</b> {{ detalle.url }}</p>
            <p><b>Usuario:</b> {{ detalle.usuario }}</p>
            <p><b>Contraseña:</b> {{ detalle.password }}</p>
          </div>
          
          <div class="col-12 col-md-5"></div>

          <div class="col-12 col-md-2 text-rigth">
            <button class="btn btn-danger"> Eliminar</button>
          </div>
        </div>

        <p><i>Acceso rapido creado por <b>{{ detalle.creador.nombre }}</b></i></p>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div>
