<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">DataTable with default features</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
          <thead>
          <tr>
            <th *ngFor="let titulo of titulos">{{ titulo }}</th>            
          </tr>
          </thead>
          <tbody>

            <tr *ngFor="let valor of campos ">
              <td>{{ valor.ambiente }}</td>
              <td>{{ valor.entorno }}</td>
              <td>{{ valor.modulo }}</td>
              <td>{{ valor.ip }}</td>
            </tr>

          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
  </div>
</div>