<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>{{ titulo }}</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item active"><a [routerLink]="['/']">Inicio</a></li>
          <li *ngFor="let item of breadcrumb" class="breadcrumb-item active">{{ item }}</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>